body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

.container {
    background: white;
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#options label {
    display: block;
    text-align: left;
    margin-left: 30%;
}
